<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	 td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}
</style>
</head>
<body>

<h1>Products</h1>

<table>
	<tr>
		<th style="width: 60px;">Code</th>
        <th style="width: 200px;">Description</th>
        <th style="width: 60px;">Price</th>
        <th style="width: 60px;">Edit</th>
        <th style="width: 60px;">Delete</th>
	</tr>
	<tr th:each="list : ${list}">
		<td th:text="${list.code}"></td>
		<td th:text="${list.description}"></td>
		<td th:text="${'$'+list.price}"></td>
		<td><a th:href="@{'/product/update?code='+${list.code}}">Edit</a></td>
		<td><a th:href="@{'/product/delete?code='+${list.code}}">Delete</a></td>
	</tr>
</table>
<a th:href="@{/product/form}" ><button style="margin-top: 30px;">Add Product</button></a>

</body>
</html>
